---
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";

const posts = await getCollection("blog");
const sorted = posts.sort(
    (a, b) => b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);
---

<section id="blogs" class="py-20 lg:py-32 px-5 bg-base-200/50">
    <!-- Section Header -->
    <div class="text-center max-w-3xl mx-auto mb-16 observe-fade-up">
        <span
            class="badge badge-soft badge-primary text-sm font-medium px-4 py-3 rounded-full mb-4"
        >
            Blogs
        </span>
        <h2
            class="text-3xl md:text-4xl lg:text-5xl font-bold mt-4 mb-6 text-base-content"
        >
            Leatest Updates
        </h2>
        <p class="text-lg text-base-content/60">
            Read the latest new ideas from us on growing a bussiness.
        </p>
    </div>

    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 container mx-auto"
    >
        {sorted.map((post, i) => <BlogCard post={post} index={i} />)}
    </div>
</section>
